body{
    background-color: rgb(229, 229, 229);
}

.interface{
    text-align: center;
    height: fit-content;
    width:fit-content;
    margin: auto;
    background-color: rgba(237, 237, 237, 0.699);
    

}
#breadcrumbs-one{
    padding-left: 4vh;
    padding-right: 4vh;
    border: none;
    border-radius: 1px;
    overflow: hidden;
    padding: 2vh;
    background-color: aliceblue;
    width: fit-content;
  }

  #breadcrumbs-one li{
    float: left;
  }

  #breadcrumbs-one a{
    padding: .7em 15em .7em 2em;
    float: left;
    text-decoration: none;
    color: rgb(255, 255, 255);
    position: relative;
    background-color: rgb(52, 160, 101);
   
  }

  #breadcrumbs-one li:first-child a{
    padding-left: 1em;
    border-radius: 5px 0 0 5px;
  }

  #breadcrumbs-one a:hover{
    background: rgb(222, 189, 69);
    color: black;
  }

  #breadcrumbs-one a::after,
  #breadcrumbs-one a::before{
    content: "";
    position: absolute;
    top: 50%;
    margin-top: -1.5em;
    border-top: 1.5em solid transparent;
    border-bottom: 1.5em solid transparent;
    border-left: 1em solid;
    right: -1em;
  }

  #breadcrumbs-one a::after{
    z-index: 2;
    border-left-color: rgb(52, 160, 101);
  }

  #breadcrumbs-one a::before{
    border-left-color: rgb(255, 255, 255);
    right: -1.1em;
    z-index: 1;
  }

  #breadcrumbs-one a:hover::after{
    border-left-color: rgb(222, 189, 69);
  }

  #breadcrumbs-one .current,
  #breadcrumbs-one .current:hover{
    font-weight: bold;
    background: none;
  }

  #breadcrumbs-one .current::after,
  #breadcrumbs-one .current::before{
    content: normal;
  }

  .miniNav{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  
    height:6vh;
    display: flex;
    
    width:auto;
    
  }
  .miniBar{
    
    padding: 2vh;
    
    float: left;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration: none;
    margin-left: 3vh;
    border-radius: 2px;
    
  }
  
  .miniBar:hover{
    background-color: rgb(165, 165, 165, 0.5);
    text-decoration: none;
    color: black;
    cursor: pointer;
    
    
  }
  .workSpace{
    width: fit-content;
    height:fit-content;
    padding-top: 1vh;
    justify-content: left;
    background-color: rgb(255, 255, 255);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
  }
  .parentSpace{
    display: flex;
  }

  .spaces{
    display: flex;
    justify-content:space-around;
    width:100%;
  }

  #NewTask{
    text-align: left;
    margin-left: 8vh;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: large;
    font-weight: 100;
    
  }
 .navbar{
    position: relative;
    display: flex;
    padding-left: 5vh;
    padding-right: 5vh;
    text-align: center;
  }

.content{
    
    padding: 2vh;
    height: 3vh;
    
}

.content:hover{
    background-color: rgba(224, 118, 32, 0.5);
    cursor: pointer;
  }


.form1{
    
    width: fit-content;
    height: fit-content;
    justify-content: center;
    text-align: left;
    margin-left: 2vh;
    padding: 2vh;
    
}
.tags{
    padding-bottom: 0%;
    
    
}

.inputs{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: larger;
    padding-bottom: 2vh;
    border-radius: 2px;
    margin-top: 1vh;
    margin-bottom: 1vh;
    width: 40vh;
    border: 2px rgb(121, 121, 121, 0.5) solid;
}


.dates{
    width: fit-content;
    height: fit-content;
    
    display: flex;
    
    
}

.tags:after { 
    content:"*";
    color: rgb(210, 106, 9); 
}
#cancel{
    width: 18vh;
    padding: 1vh;
    border-radius: 2px;
    background-color: white;
    border: 2px solid rgb(103, 103, 103, 0.5);
    cursor: pointer;
}

#cancel:active{
  background-color:rgba(142, 142, 142, 0.5) ;
}
#apply{
    width: 18vh;
    padding: 1vh;
    margin-left: 4vh;
    border-radius: 2px;
    background-color: white;
    color: rgb(210, 106, 9);
    border: 2px solid rgb(210, 106, 9, 0.5);
    cursor: pointer;
}

#apply:active{
  background-color:rgba(219, 140, 43, 0.5) ;
  color: black;
}

.dateInput{
    margin-right: 2vh;
    padding-bottom: 2vh;
    border-radius: 2px;
    margin-top: 1vh;
    margin-bottom: 2vh;
    width: 18vh;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: large;
    border: 2px rgb(121, 121, 121, 0.5) solid ;
}


#biginputs{
    padding-bottom: 2vh;
    border-radius: 2px;
    margin-top: 1vh;
    width: 40vh;
    height: 26vh;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: larger;
    border: 2px rgb(121, 121, 121, 0.5) solid;
    resize: none;
}

.timeline{
  height: 100%;
  width: 55vh;
  margin-left: 3vh;
  color: aliceblue;
  background-color:rgb(255, 255, 255);
}


.timelineEvents{
  height:63vh;
  width: 100%;
  overflow: visible;
  overflow-y: scroll;
}
.timelineEvents::-webkit-scrollbar{
  display: none;
}


.events{
  width: 70%;
  height: 10vh;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: large;
  text-align: left;
  color: black;
  margin: 5vh;
  margin-bottom: 1vh;
  background-color: rgb(210, 106, 9, 0.2);
  padding: 2vh;
  
}

#timelineFilter{
  margin: 2vh;
  margin-bottom: 0%;
  width: 50vh;
  height: 5vh;
  color: gray;
  text-align: left;
  font-size: larger;
  border: 2px rgb(121, 121, 121, 0.5) solid;
  
}

.vl{
  width: fit-content;
  height: 100%;
  border: 2px dotted rgb(210, 106, 9);
  margin: auto;

}




























